.fwp-gbe {
  .wp-block-image, .wp-block-cover, .wp-block-stackable-heading, .wp-block-stackable-text, .wp-block-stackable-button, .wp-block-stackable-image, .stk-block-content {
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: 1s all ease;
    &.fwp-gbe-animationActive {
      transform: translateY(0);
      opacity: 1;
      animation: fwp-gbe-fade-bottom 0.7s ease-in;
    }
  }
}
@keyframes fwp-gbe-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fwp-gbe-fade-bottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fwp-gbe-fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fwp-gbe-fade-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*

*/